//- layout.jade
doctype html
html(ng-app="plunker")
  head
      title Default title
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
  body(ng-controller="MainCtrl")
    div.container
      block content