<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<style type="text/css">



	.bloque {
		background-color: rgba(255, 255, 255, 0.5);
	}
	.bloque:hover {
		background-color: #f0f0f0;
		background-color: rgba(255, 255, 255, 1);

	}
	.bq {
		background: #e0e0e0;
		height: 80px;
		margin: 10px 0;
	}
	.bq:hover {
		background: #f0f050;
	}
	.section-grid {
		position: absolute;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		z-index: -1000;
	}
	.section-grid .col-md-1 .grid-bk {
		background: red;
		height: 600px;
		opacity: .25;
	}


	.config {
		text-align: right;
	}

	.config .controls {
		display: inline-block;
		background: rebeccapurple;
		width: 30px;
		position: absolute;
		z-index: 1000;
	}

	.section {
		min-height: 30px;
	}

	.micontrol {

	}
	.micontrol-section {
		margin-left: -15px;
	}

</style>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>


<script type="text/javascript">
	var myApp = angular.module('myApp', ['ui.bootstrap']);

	myApp.controller('GridCtrl', function($scope) {
		$scope.layout = [
			{
				name: 'section-head',
				zones: [
					{
						name: 'zone1',
						regions: {
							r1: {class: 'col-md-12'}
						}
					}
				]
			},
			{
				name: 'section-content',
				zones: {
					zone2: {
						name: 'zone2',
						regions: {
							r1: {class: 'col-md-3'},
							r2: {class: 'col-md-9'}
						}
					}
				}
			},
			{
				name: 'section-foot',
				zones: {
					zone3: {
						name: 'zone3',
						regions: {
							r1: {class: 'col-md-4'},
							r2: {class: 'col-md-4'},
							r3: {class: 'col-md-4'}
						}
					},
					zone4: {
						name: 'zone4',
						regions: {
							r1: {class: 'col-md-12'}
						}

					}
				}
			}
		];


		$scope.items = [
			'New Zone',
			'Change CSS',
			'Delete Section'
		];

		$scope.alert = function($event, section) {
			console.log($event);
			console.log(section);
			section.zones.push({
				name: 'undefined',
				regions: []
			})
		}
	 
	});	
</script>
</head>
	<body ng-controller="GridCtrl">




		<section class="section-grid">
			<div class="container">
				<div class="row">
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
					<div class="col-md-1"><div class="grid-bk"></div></div>
				</div>
			</div>
		</section>

		
		<section ng-repeat="section in layout" ng-click="menuSection($event)" class="{{section.name}} section" style="background: #a0cFE1">
			<div class="container">
			<div class="micontrol micontrol-section">
			    <!-- Simple dropdown -->
			    <span class="dropdown" dropdown on-toggle="toggled(open)">
			      <a href class="dropdown-toggle btn btn-default btn-xs" dropdown-toggle>
			        <span class="glyphicon glyphicon-cog"></span>
			      </a>
			      <ul class="dropdown-menu">
			        <li>
			          <a href>Section</a>
			          <a ng-click="alert($event, section);">alert</a>
			        </li>
			      </ul>
			    </span>
			</div>


				<div ng-repeat="zone in section.zones" class="row bloque">

				<div class="micontrol">
		    		<!-- Simple dropdown -->
				    <span class="dropdown" dropdown on-toggle="toggled(open)">
				      <a href class="dropdown-toggle btn btn-default btn-xs" dropdown-toggle>
				        <span class="glyphicon glyphicon-cog"></span>
				      </a>
				      <ul class="dropdown-menu">
				        <li>
				          <a href>Zone</a>
				        </li>
				      </ul>
				    </span>
				</div>

					<div ng-repeat="region in zone.regions" class="{{region.class}}">




						<div class="bq">

							<div class="micontrol">
					    		<!-- Simple dropdown -->
							    <span class="dropdown" dropdown on-toggle="toggled(open)">
							      <a href class="dropdown-toggle btn btn-default btn-xs" dropdown-toggle>
							        <span class="glyphicon glyphicon-cog"></span>
							      </a>
							      <ul class="dropdown-menu">
							        <li>
							          <a href>Region</a>
							        </li>
							      </ul>
							    </span>
							</div>



						</div>
					</div>
				</div>
			</div>
		</section>


		<script type="text/javascript">
			var body = document.body,
		    html = document.documentElement;

			var height = Math.max( body.scrollHeight, body.offsetHeight, 
		                       html.clientHeight, html.scrollHeight, html.offsetHeight );
			var grids = document.getElementsByClassName("grid-bk");
			for(var i=0; i<grids.length; i++) {
				grids[i].style.height = height + 'px';
			}
		</script>
	</body>
</html>
